html, body {
  width: auto;
  margin: 0;
  padding: 0;
}

#grid {
  display: grid;
  grid-template-columns: 5vw auto 5vw;
  grid-gap: 0;
}

.box {}

#left, #right {
  /* TODO:  */
  background-color: gray;
}

#center {
  /* TODO:  */
  background-color: red;
}

/*-------------------- HEADER --------------------*/
header {
  text-align: center;
  margin: 0;
  padding: 1rem 0 1rem 0;
  background-color: green;
  /* TODO:  */
}

header h1 {
  margin: 0;
  padding: 0;
}

header p {
  margin: 0;
  padding: 0;
}


/*-------------------- MAIN --------------------*/
main div {
  display: block;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

main div img {
  position: relative;
  max-width: 90vw;
  height: auto;
}
