header {
  text-align: center;
  background-color: #DEDEDE;
  font-size: 2em;
}
aside {
  background-color: #F5F5F5;
  font-size: 2em;
}

h2 {
  text-align: center;
}


#wrapper {
  margin: auto;
}

#glass {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#image {
  position: relative;
  margin: 0px;
  padding: 0px;
}
